/* ======================================== */
/* Div-One -------------------------> Start */
/* ======================================== */
.div-one{
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   padding-top: 65px;
   z-index: 2;
}

.div-one .banner-image{
   width: 100%;
   height: auto;
   display: flex;
   /* border: 1px solid red; */
}

.div-one .banner-image{
   width: 100%;
   height: fit-content;
}

.div-one>p{
   width: 100%;
   height: auto;
   text-align: center;
   font-size: 1.3rem;
   letter-spacing: 0.2px;
}

.div-one .image-group{
   margin-top: 23px;
   width: auto;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.div-one .image-group .image-container{
   width: 178px;
   height: auto;
   display: flex;
}

.div-one .image-group .image-container>img{
   width: 100%;
   height: fit-content;
}
/* ======================================== */
/* Div-One ---------------------------> End */
/* ======================================== */



/* ======================================== */
/* Div-Two -------------------------> Start */
/* ======================================== */
.div-two{
   position: relative;
   overflow-x: auto;
   translate: 0px -120px;
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   z-index: 1;
   overflow: visible;
   /* border: 1px solid blue; */
}

.div-two .image-wrapper{
   position: relative;
   width: 850px;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.div-two .image-wrapper>img{
   width: 100%;
   height: fit-content;
}

.div-two .image-wrapper .globe-float{
   position: absolute;
   top: 0;
}

.div-two .image-wrapper .globe-hide{
   opacity: 0;
}

.div-two .globe-text{
   position: absolute;
   bottom: 250px;
   width: auto;
   height: auto;
   text-align: center;
   font-size: 2.5rem;
}

.div-two .company-section{
   position: absolute;
   bottom: 130px;
   width: min(580px, 90%);
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   border-radius: 20px;
   padding: 3px;
   background-color: var(--transparent-color);
}

.div-two .company-section>section{
   max-width: 70px;
   width: max-content;
   max-height: 50px;
   display: flex;
   justify-content: center;
   font-size: 0.6rem;
   margin: 5px;
}

.div-two .company-section .duo{
   flex-direction: column;
   font-size: 0.5rem;
}

.div-two .company-section .image-container>img{
   max-width: 100%;
   width: auto;
}

.div-two .rating-section{
   position: absolute;
   bottom: 0px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   translate: 0px calc(100% + 100px);
   width: min(580px, 90%);
   height: auto;
   z-index: 2;
   overflow: visible;
}

.div-two .rating-section .rating-container{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: auto;
}

.div-two .rating-section .rating-container>h3{
   font-size: 3rem;
   flex: 1;
}

.div-two .rating-section .rating-container .star-container{
   display: flex;
   justify-content: center;
   align-items: center;
}

.div-two .rating-section .rating-container .star-container .image-section{
   width: 60px;
   height: auto;
}

.div-two .rating-section .rating-container .star-container .image-section>img{
   width: auto;
   max-width: 100%;
}

.div-two .rating-section .rating-container .star-container>span{
   font-weight: bold;
   margin-left: 10px;
}

.div-two .rating-section .rating-container>p{
   width: auto;
   height: max-content;
   display: flex;
   font-size: 0.65rem;
   margin-left: 15px;
   background-color: var(--transparent-color);
   padding-block: 5px;
   padding-inline: 12px;
   border-radius: 50px;
}

.div-two .user-image-section{
   width: auto;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: visible;
}

.div-two .user-image-section .user-image-container{
   position: relative;
   width: 35px;
   height: 35px;
   border: 4px solid rgba(255, 255, 255, 0.5);
   display: flex;
   border-radius: 50%;
   margin-left: -5px;
   transition: 0.3s;
}

.div-two .user-image-section .user-image-container:nth-child(1){
   margin-left: 0px;
}

.div-two .user-image-section .user-image-container::before{
   content: "";
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   background-color: transparent;
}

.div-two .user-image-section .user-image-container:hover{
   scale: 1.3;
   z-index: 3;
}

.div-two .user-image-section .user-image-container:hover::before{
   background-color: rgba(255, 255, 255, 0.5);
}

.div-two .user-image-section .user-image-container>img{
   width: 100%;
   height: fit-content;
}
/* ======================================== */
/* Div-Two ---------------------------> End */
/* ======================================== */



/* ======================================== */
/* General Section Heading Design --> Start */
/* ======================================== */
.section-heading{
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 4.95rem;
}

.section-heading>span{
   text-align: center;
}

.section-heading .audio-section{
   width: 25px;
   height: 25px;
   display: flex;
   margin-left: 10px;
   cursor: pointer;
}

.section-heading .audio-section>img{
   width: 100%;
   height: fit-content;
   filter: invert(100%) grayscale(100%);
   background-blend-mode: darken;
}
/* ======================================== */
/* General Section Heading Design --> End */
/* ======================================== */



/* ======================================== */
/* Div-Three -----------------------> Start */
/* ======================================== */
.div-three{
   width: 100%;
   height: auto;
   padding-top: 200px;
   padding-bottom: 100px;
}

.div-three .section-body{
   position: relative;
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
   overflow: visible;
}

.div-three .section-body .image-slide-section{
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.div-three .section-body .image-slide-section .image-slide-container{
   width: calc(100% / 4);
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.div-three .section-body .image-slide-section .image-slide-container .text-section{
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
   padding-inline: calc((100% / 4) / 2.5);
   display: none;
}

.div-three .section-body .image-slide-section .image-slide-container .text-section>h4{
   font-size: 2rem;
}

.div-three .section-body .image-slide-section .image-slide-container .text-section>p{
   font-size: 0.8rem;
   text-align: center;
   color: gray;
}

.div-three .section-body .image-slide-section .image-slide-container .image-section{
   width: 50%;
   height: auto;
   display: flex;
   align-items: flex-end;
}

.div-three .section-body .image-slide-section .image-slide-container .image-section>img{
   width: 100%;
   height: fit-content;
}

.div-three .section-body .image-slide-section .color-effect{
   position: absolute;
   top: 0;
   left: 0%;
   width: calc(100% / 4);
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: visible;
   z-index: -1;
}

.div-three .section-body .image-slide-section .color-effect>img{
   min-width: 140%;
   height: fit-content;
}

.div-three .section-body .indicator-slide-section{
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow: visible;
}

.div-three .section-body .indicator-slide-section .first-section{
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.div-three .section-body .indicator-slide-section .first-section>span{
   flex: 1;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.div-three .section-body .indicator-slide-section .first-section>span>span{
   width: 1px;
   height: 30px;
   background-color: grey;
}

.div-three .section-body .indicator-slide-section .second-section{
   position: relative;
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: visible;
}

.div-three .section-body .indicator-slide-section .second-section>span{
   flex: 1;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.div-three .section-body .indicator-slide-section .second-section>span>span{
   width: 13px;
   height: 13px;
   border-radius: 50%;
   background-color: var(--main-black);
   border: 1px solid grey;
   z-index: 1;
}

.div-three .section-body .indicator-slide-section .second-section .slide-line{
   position: absolute;
   top: 50%;
   width: 100%;
   height: 1px;
   background-color: grey;
}

.div-three .section-body .indicator-slide-section .second-section .slide-image-section{
   position: absolute;
   top: 50%;
   left: 0%;
   width: calc(100% / 4);
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   translate: 0% -50%;
}

.div-three .section-body .indicator-slide-section .second-section .slide-image-section .slide-image-container{
   width: 65%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.div-three .section-body .indicator-slide-section .second-section .slide-image-section .slide-image-container>img{
   width: 100%;
   height: fit-content;
}

.div-three .section-body .text-slide-section{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 150px;
}

.div-three .section-body .text-slide-section .text-slide-container{
   width: calc(100% / 4);
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-inline: 2.5%;
}

.div-three .section-body .text-slide-section .text-slide-container>h4{
   font-size: 2rem;
}
   
.div-three .section-body .text-slide-section .text-slide-container>p{
   font-size: 0.8rem;
   text-align: center;
   color: gray;
}
/* ======================================== */
/* Div-Three -------------------------> End */
/* ======================================== */



/* ======================================== */
/* General Email Section Design ----> Start */
/* ======================================== */
.email-section{
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.email-section .email-form{
   width: min(440px, 90%);
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.email-section .email-form>input{
   height: 40px;
   background-color: transparent;
   outline: none;
   border-radius: 50px;
   margin-inline: 7px;
   font-family: lufga, sans-serif;
   font-size: 0.8rem;
   font-weight: 300;
   transition: 0.2s;
}

.email-section .email-form>input[type="email"]{
   width: 55%;
   padding-left: 4%;
   border: 1px solid var(--main-white);
}

.email-section .email-form>input[type="email"]::placeholder{
   color: silver;
}

.email-section .email-form>input[type="email"]:focus{
   border: 1px solid var(--main-green);
}

.email-section .email-form>input[type="submit"]{
   width: 45%;
   background-color: var(--main-green);
   border: 1px solid var(--main-green);
   cursor: pointer;
}
/* ======================================== */
/* General Email Section Design ------> End */
/* ======================================== */



/* ======================================== */
/* Div-Four ------------------------> Start */
/* ======================================== */
.div-four{
   width: 100%;
   height: auto;
   /* padding-bottom: 100px; */
}

.div-four .section-body{
   position: relative;
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
   overflow: visible;
}

.div-four .section-body .ripple-container{
   position: relative;
   width: 70%;
   height: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: visible;
   /* border: 1px solid red; */
}

.div-four .section-body .ripple-container>img{
   width: 100%;
   height: fit-content;
   opacity: 0.7;
   rotate: x 58.5deg;
}


/* ======================================== */
/* Div-Four --------------------------> End */
/* ======================================== */
   
